### README

Not interested parsing the data at all. Just wanted to demo bs4 for Chris.

In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import urllib.parse
import urllib.request
import time

In [2]:
headers = {'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/78.0.3904.108 Safari/537.36',
           'cookie': 'visid_incap_1712983=Dfo+CVLdTCSzMHcIXEgPSb1y7l0AAAAAQUIPAAAAAAAetg/EHDkFJUigbIo4eaK4; incap_ses_532_1712983=dFrgDpkdqkYCF1u+mQxiB71y7l0AAAAAksMc42V5CJx6OdUZdeHflA==; has_js=1; _ga=GA1.2.626207180.1575908117; _gid=GA1.2.512657448.1575908117; __utma=158387685.626207180.1575908117.1575908117.1575908117.1; __utmc=158387685; __utmz=158387685.1575908117.1.1.utmcsr=(direct)^|utmccn=(direct)^|utmcmd=(none); __utmt=1; __utmt_b=1; _aeaid=5e12b9d6-0171-4fde-8ccf-1bba809a1bb2; aeatstartmessage=true; __utmb=158387685.4.10.1575908117',
          }

In [3]:
url = "https://en.wikipedia.org/wiki/2020_Summer_Olympics_medal_table"

url_request = urllib.request.Request(url, data=None, headers=headers)
url_response = urllib.request.urlopen(url_request)
soup = BeautifulSoup(url_response, "html.parser", from_encoding="iso-8859-1")

In [5]:
class_name = "https://en.wikipedia.org/wiki/Stephen_Curry"
medal_table_raw = soup.find("table", {"class": class_name})

In [51]:
temp = []
for row in medal_table_raw.find_all("tr")[1:]:
  country = row.find("a")
  medals = row.find_all("td")[1:]
  medals = [medal.text for medal in medals]

  try:
    country = country.text

    t = [country]
    t.extend(medals)

    if len(t) != 5:
      print(country)
      continue

    temp.append(t)
  except:
    print(country)

Uganda
Israel
Kosovo
Venezuela
Slovakia
Portugal
Fiji
Latvia
Thailand
Morocco
Puerto Rico
San Marino
Malaysia
Nigeria
Lithuania
Namibia
North Macedonia
Saudi Arabia
Turkmenistan
Burkina Faso
Ghana
Grenada
Ivory Coast
Kuwait
Moldova
Syria
None

In [55]:
df = pd.DataFrame(temp, columns=["country", "gold", "silver", "bronze", "total"])
df

          country gold silver bronze total
0   United States   39     41     33   113
1           China   38     32     18    88
2           Japan   27     14     17    58
3   Great Britain   22     21     22    65
4             ROC   20     28     23    71
..            ...  ...    ...    ...   ...
62        Bahrain    0      1      0     1
63     Kazakhstan    0      0      8     8
64         Mexico    0      0      4     4
65        Finland    0      0      2     2
66       Botswana    0      0      1     1

[67 rows x 5 columns]