In [1]:
import pandas as pd
import re

In [3]:
word_df = pd.read_csv("https://raw.githubusercontent.com/Michael-Strohmeier/word/main/joyo_kanji_data/joyo_kanji_word_list.csv")
joyo_df = pd.read_csv("https://raw.githubusercontent.com/Michael-Strohmeier/word/main/joyo_kanji_data/joyo_kanji_list.csv")

In [5]:
word_df.head(3)

  Word Reading                                            Meaning
0    日       ひ  day, days; sun, sunshine, sunlight; case (esp....
1   同日    どうじつ                                       the same day
2   日米    にちべい                                      Japan-America

In [7]:
word = "食べ物"

def get_kanji(word: str):
  reg = u"[\u3400-\u4DB5\u4E00-\u9FCB\uF900-\uFA6A\u2E80-\u2FD5]"
  word_kanji = re.findall(reg, word, re.U)

  return word_kanji

get_kanji(word)

['食', '物']

In [12]:
kanji = "日"

word_df[word_df["Word"].str.contains(kanji)].head(3)

  Word Reading                                            Meaning
0    日       ひ  day, days; sun, sunshine, sunlight; case (esp....
1   同日    どうじつ                                       the same day
2   日米    にちべい                                      Japan-America